.container {
  width: 100vw; /* 100% of viewport width */
  height: 100vh; /* 100% of viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-content {
  width: 100%; /* Adjust as needed */
  height: 100%; /* Adjust as needed */
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.calculator-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.number-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-number {
  font-size: 24px;
  margin-bottom: 20px;
}


.button-container {
  flex-grow: 1; /* Make the button container grow to fill the available space */
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* Distribute buttons evenly */
  margin-bottom: 10px; /* Add some space between button rows */
}

.digit-button {
  width: 100%;
  margin: 5px; /* Add some space between buttons */
  font-size: 20px;
  padding: 10px 20px;
}

.cancel-button {
  width: 100%;
  margin: 5px; /* Add some space between buttons */
  font-size: 20px;
  padding: 10px 20px;
  background-color: salmon;
}

.add-button {
  width: 100%;
  margin: 5px; /* Add some space between buttons */
  font-size: 20px;
  padding: 10px 20px;
  background-color: lightgreen;
}

.pool-button {
  width: 100%;
  margin: 5px; /* Add some space between buttons */
  font-size: 20px;
  padding: 10px 20px;
  background-color: lightskyblue;
}



.backspace-button, .clear-list-button, .enter-button {
  font-size: 20px;
  padding: 10px 20px;
  margin: 5px;
}

.number-list {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.number-list ul {
  list-style-type: none;
  padding: 0;
}

.number-list ul li {
  display: inline;
  font-size: 36px;
  margin-right: 10px;
}

.number-list-wrapper {
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 200px; /* Set a max height to trigger scrolling */
}

.number-list-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}



.sort-button {
  font-size: 20px;
  padding: 10px 20px;
  margin-top: 10px;
}

.duplicate-number {
  color: red; /* Change text color to red */
}

.number-list-textarea {
  width: 100%; /* Ensure the textarea occupies 100% width */
  height: 200px; /* Set the height as needed */
  resize: vertical; /* Allow vertical resizing */
}

